.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 2rem;
  gap: 2rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 950px;
    width: 100%;

    p {
      text-align: center;
      color: var(--green-600);
      max-width: 600px;
    }

    a {
      text-decoration: none;
      font-weight: 600;
      color: var(--green-800);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.step {
  width: 100%;
  max-width: 600px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 600px;

  button {
    padding: 1rem 2.5rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: transparent;
    border: none;
    color: var(--green-600);

    transition: 0.2s ease;

    &:hover {
      color: var(--green-700);
      text-decoration: underline;
    }
  }

  a {
    padding: 1rem 2.5rem 1rem 2rem;
    border: 3px solid var(--orange-400);
    border-radius: 10px;
    color: var(--white);
    background-color: var(--orange-400);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.3rem;

    transition: 0.2s ease;

    &:hover {
      border-color: var(--orange-500);
      background-color: var(--orange-500);
      text-decoration: underline;
    }
  }
}
